.container{
    margin-left: 50px;
    margin-right: 50px;
}
#countries{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.country{
    border: 1px solid rgb(226, 225, 225);
    padding: 20px;
    margin: 20px;
}
h2{
    text-align: center;
    color: #cd0303;
}